.map-pagination .swiper-pagination-bullet-active{
    background:#fff;
}
.map-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
body .map-next,body .map-prev{
    background-size:15px;
    width:30px;
    height: 40px;
    background-color:rgba(0,0,0,.3);
    opacity: 0;
}
body .map-next{
    right: 0px;
}
body .map-prev{
    left: 0px;
}

.public-whole{
    margin-top:20px;
}

/*栏目推荐*/
.index-column{
    display: flex;
    flex-wrap: wrap;
}
.index-column .layui-col-md4{
    padding:10px;
}
.index-column-img{
    width: 100%;
}
.index-column-back{
    position: absolute;
    background-color:rgba(0,0,0,.3);
    top: 0;
    width: 100%;
    top: 0;
    bottom:0;
}
.index-column-gos{
    position:relative;
    overflow:hidden;
    border-radius:3px;
    cursor: pointer;
}
.layui-col-space5{
    margin:0 ;
}
.index-column-user{
    font-size:36px;
    color:#fff;
    position:absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.index-column-user .index-column-bottom{
    position: relative;
    padding:0 10px;
}
.index-column-ts{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width:0%;
    height: 2px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    margin: 0 auto;
}

/**/
.index-title{
    width:100%;
    height: 50px;
    line-height: 50px;
    text-align:center;
    font-size:30px;
    font-weight: 300;
}

.seling {
    width:100%;
    display: flex;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
}
.seling-li {
    width: 25%;
}
.seling-text{
    margin:10px;
    padding:10px;
    display:flex;
    border:1px solid rgb(219, 181, 128);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}
.seling-text .seling-goods-img {
    width: 40%;
    height:40%;
}
.seling-ranking{
    position: absolute;
    top: 0px;
    right: 10px;
    height: 32px;
    width: 24px;
}
.seling-lg{
    flex: 1;
    margin-left:10px;
    position:relative;
}
.seling-title{
    font-size:12px;
    height: 36px;
    overflow: hidden;
    color: rgb(51, 51, 51);
    margin-top:25px;
    position: relative;
}
.seling-amount{
    font-size:18px;
    margin-top:5px;
    color: #000;

}
.seling-amount span{
    text-decoration: line-through;
    font-size: 12px;
    color: rgb(153, 153, 153);
    padding-left: 5px;
}
.seling-discount{
    text-align: right;
    margin-bottom:5px;
}
.seling-discount span{
    background: red;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.public-width{
    width: 100%;
    background: #fff;
}

/*限时优惠*/
.offer img{
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.offer-img{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.offer a{
    display: block;
    padding:10px;
}
.offer-title{
    color: #666;
    font-size: 12px;
    margin:10px 0;
    margin-bottom:5px;
}
.offer-img-back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.1);
}
.offer-title{
    height: 35px;
    overflow: hidden;
}
.offer-amount-discount{
    line-height: 18px;
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
.offer-amount{
    margin-bottom:5px;
}
.offer-amount-price{
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
    font-style: italic;
}
.offer-bottom{
    display: flex;
    height: 20px;
    align-items: center;
    color: #666;
}
.offer-bottom .layui-icon{
    font-size: 12px;
    color: #ff4747;
}
.offer-miuntie{
    font-size: 12px;
    flex: 1;
    padding-left: 5px;
}
.offer-sold{
    font-size: 12px;
}

.goods-index{
    width: 100%;
    display: block;
    margin:20px 0;
}
.goods-index img{
    width: 100%;
}


/*猜你喜欢*/
.like{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.like li{
    width: 20%;
}
.like li a{
    display: block;
    margin: 10px;
    border:1px solid #eee;
    border-radius: 5px;
}
.like-div{
    padding: 10px;
}

.layui-col-space5>*{
    padding: 10px;
    width: 25%;

}

/*屏幕最小控制*/
@media (max-width:1000px){
    .index-column{
        display: flex;
    }
    .index-column .layui-col-md4{
        width:33.33%;
    }
}

@media (max-width:900px){
    .seling-discount{
        margin-top:10px;
        margin-bottom:0px;
    }
    .seling-title{
        margin-top:25px;
    }
    .like li{
        width: 25%;
    }
}
@media (max-width:876px){
    .seling-li {
        width: 50%;
    }
    .index-column{

    }
}

@media (max-width:768px){
    .index-column-ts{
        width:100%;
    }
    .layui-col-space5>*{
        width: 50%;
    }
}

@media (max-width:668px){
    .layui-col-space5>*{
        width:50%;
    }
    .like li{
        width: 33.33%;
    }
}

@media (max-width:414px){
    .like li{
        width: 50%;
    }
    .index-column{
        flex-wrap: wrap;
    }
    .index-column .layui-col-md4{
        width:100%;
    }
    .seling-li {
        width: 100%;
    }
    .seling-discount{
        margin-top:0px;
    }
    .seling-text .seling-goods-img{
        width: 30%;
        height: 30%;
    }
}

@media (max-width:320px){
    .seling-text .seling-goods-img{
        width: 40%;
        height: 40%;
    }
}